/**
 * HIUI colors
 */

// theme indigo
$theme-name:                                         indigo;
$theme-color:                                        #3f51b5 !default;
$theme-top:                                          #303f9f !default;
$theme-body:                                         #fafafa !default;
$theme-text:                                         #212121 !default;
$theme-label:                                        #727272 !default;
$theme-title:                                        #536dfe !default;
